/Text/obj/Debug/net6.0/apphost
/LuckyFish.MoreMath/obj/Debug/net6.0/LuckyFish.MoreMath.csproj.CoreCompileInputs.cache
/LuckyFish.MoreMath/obj/Debug/net6.0/LuckyFish.MoreMath.csproj.FileListAbsolute.txt
/Text/bin/Debug/net6.0/Text
/Text/obj/Debug/net6.0/Text.csproj.AssemblyReference.cache
/Text/obj/Debug/net6.0/Text.csproj.CoreCompileInputs.cache
/Text/obj/Debug/net6.0/Text.csproj.FileListAbsolute.txt
/Text/bin/Debug/net6.0/Text.deps.json
/Text/bin/Debug/net6.0/ref/Text.dll
/Text/bin/Debug/net6.0/Text.dll
/Text/obj/Debug/net6.0/ref/Text.dll
/Text/obj/Debug/net6.0/Text.dll
/Text/obj/Debug/net6.0/Text.genruntimeconfig.cache
/Text/bin/Debug/net6.0/Text.pdb
/Text/obj/Debug/net6.0/Text.pdb
/Text/bin/Debug/net6.0/Text.runtimeconfig.json
